page-home {
    .loginHeader {
        margin: 25px 0;
        text-align: center; 
        color: color($colors, "primary");
        padding: 8px 0;
        background: color($colors, "light")
    }

    .list-md .noborder .item-inner {
        border-bottom: none;
    }
}
