<ion-header>  
  <app-header title="Users"></app-header>
  </ion-header>


<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Users</h3>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="users">
      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngFor="let u of users">
        <ion-card>
          <ion-item color="primary">{{ u.name }}</ion-item>
          <ion-card-content>
              {{ u.username}} {{ u.roles }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
